<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6LcmlE0qAAAAAGdY6oywYOk3r7LcEOl4lCucDYyA"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>