{{>layout/header}}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <h1>문제가 발생했습니다</h1>
    <h1>{{errorMessage}}</h1>
</body>
</html>
{{>layout/footer}}